<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vetheria - Auth</title>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/scss/styles.scss" />
</head>
<body>
    <div class="vh-100">`
        <header>
            <div class="d-flex justify-content-center py-3 fs-2">Vetheria</div>
        </header>

        <div class="container d-flex justify-content-center">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container p-2 text-center">
                <span>&copy; @DateTime.Now.Year - Vetheria - All rights reserved - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></span>
            </div>
        </footer>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>