@page
@model ConfirmEmailModel

<div class="container simple_teaser">
    <div class="simple_teaser__header">
        <h1>Confirm email</h1>
    </div>
    <div class="simple_teaser__body">
        <partial name="_StatusMessage" model="@Model.StatusMessage" />
    </div>
</div>