@page
@model ForgotPasswordConfirmation


<div class="container simple_teaser">
    <div class="simple_teaser__header">
        <h1>Forgot password confirmation</h1>
    </div>
    <div class="simple_teaser__body">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
