@page
@model LockoutModel

<div class="container simple_teaser">
    <div class="simple_teaser__header">
        <h1 class="text-danger">@ViewData["Title"]</h1>
    </div>
    <div class="simple_teaser__body">
        <p class="text-danger">This account has been locked out, please try again later.</p>
    </div>
</div>