@page
@model ResetPasswordConfirmationModel

<div class="container simple_teaser">
    <div class="simple_teaser__header">
        <h1>Reset password confirmation</h1>
    </div>
    <div class="simple_teaser__body">
        <p>
            Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>
