.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &__username {
    padding-bottom: 15px;
  }
  &__password {
    padding-bottom: 15px;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
  }
}
