@use "variables.scss" as var;

$header-height: 108px;
$footer-height: 100px;

.layout {
    display: flex;
    flex-direction: column;
    background-color: var.$col-bodyBg;
    min-height: 100vh;
    color: var.$col-mainFont;

    &__header {
        height: $header-height;
        background-color: darken(var.$col-footerBg, 10%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $col-mainFont-invert;
    }

    &__body {
        // padding: 200px;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        height: calc(100vh - ($header-height + $footer-height));
        overflow: auto;
        box-sizing: border-box;
    }

    &__footer {
        height: $footer-height;
        background-color: darken(var.$col-footerBg, 10%);
        display: flex;
        justify-content: center;
        align-items: center;
        color: $col-mainFont-invert;
    }
}

.simple_teaser {
    display: flex;
    flex-direction: column;

    &__header {
        font-size: 2em;
    }

    &__body {
        justify-items: center;
        align-items: center;
    }
}

.container {
    padding: 7px;
}
