// flat palette
// https://materialui.co/flatuicolors
// https://flatuicolors.com/palette/us
// https://flatcolors.net/palette/182-flat-ui-pallate#

$col-clouds: #ECF0F1;
$col-silver: #BDC3C7;

$col-belizehole: #2980B9;

$col-wetasphalt: #34495E;
$col-midnightblue: #2C3E50;


// colors

$col-green: #002626;
$col-ping: #be7aeb;
$col-blue: #63ebeb;
$col-blue100: #63ebeb;
$col-blue200: #2e7283;
$col-orange: #eb864b;
$col-yellow: #d6eb57;
$col-white: #fff;

// fonts

$col-mainFont: $col-wetasphalt;
$col-secondFont: $col-midnightblue;
$col-mainFont-invert: $col-clouds;
$col-secondFont-invert: $col-silver;

$col-headerBg: $col-belizehole;
$col-bodyBg: $col-clouds;
$col-footerBg: $col-belizehole;
