// colors

$col-green: #002626;
$col-ping: #be7aeb;
$col-blue: #63ebeb;
$col-blue100: #63ebeb;
$col-blue200: #2e7283;
$col-orange: #eb864b;
$col-yellow: #d6eb57;
$col-white: #fff;

// fonts

$col-mainFont: #eee;
$col-secondFont: #ccc;

$col-headerBg: $col-green;
$col-bodyBg: $col-green;
$col-footerBg: $col-green;
